<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title>PIE</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
	<script type="text/javascript" src="../../js/highcharts.js" media="all"
	th:src="@{/js/highcharts.js}"></script>
	<script type="text/javascript" src="../../js/exporting.js" media="all"
	th:src="@{/js/exporting.js}"></script>
		<script type="text/javascript" src="../../js/highcharts.js" media="all"
	th:src="@{/js/highcharts.js}"></script>
	<script type="text/javascript" src="../../js/highcharts-3d.js" media="all"
	th:src="@{/js/highcharts-3d.js}"></script>

</head>

<body>
	<div id="container" style="height: 400px"></div>
	<script th:inline="javascript">
		Highcharts.chart('container', {
			chart : {
				type : 'pie',
				options3d : {
					enabled : true,
					alpha : 50,
					beta : 0
				}
			},
			title : {
				text : 'Orchestration Task Status Progess'
			},
			tooltip : {
				pointFormat : '{series.name}: <b>{point.percentage:.1f}%</b>'
			},
			plotOptions : {
				pie : {
					allowPointSelect : true,
					cursor : 'pointer',
					depth : 35,
					dataLabels : {
						enabled : true,
						format : '{point.name}'
					}
				}
			},
			series : [ {
				type : 'pie',
				name : 'Ratio',
				data : [ [ 'CREATED', [[${CREATED}]] ], [ 'INPROGRESS', [[${INPROGRESS}]] ],[ 'SCHEDULED', [[${SCHEDULED}]] ],[ 'COMPLETED', [[${COMPLETED}]] ]  ]
			} ]
		});
	</script>
</body>
</html>
