<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Orchestrator Workflow Management</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/fedex.css" th:href="@{/css/fedex.css}" />
<script type="text/javascript" src="../../js/fedex.js" media="all"
	th:src="@{/js/fedex.js}"></script>

</head>
<body>
	<div th:insert="index :: index"></div>

	<div class="main">
		<table border="1" class="table table-striped table-responsive-md">
			<thead>
				<tr>
				
					<th><a
						th:href="@{'/page/' + ${currentPage} + '?sortField=taskId&sortDir=' + ${reverseSortDir}}">
							Task ID</a></th>
					<th><a
						th:href="@{'/page/' + ${currentPage} + '?sortField=taskName&sortDir=' + ${reverseSortDir}}">
							Task Name</a></th>
					<th><a
						th:href="@{'/page/' + ${currentPage} + '?sortField=taskStatus&sortDir=' + ${reverseSortDir}}">
							Task Status</a></th>
							
							<th><a
						th:href="@{'/page/' + ${currentPage} + '?sortField=taskStatus&sortDir=' + ${reverseSortDir}}">
							Workflow Id</a></th>
					
				</tr>
			</thead>
			<tbody>

			
				<tr th:each="tasks : ${listTasks}">
					<td th:text="${tasks.taskId}"></td>
					<td th:text="${tasks.taskName}"></td>
					<td th:text="${tasks.taskStatus}"></td>
				<td th:text="${tasks.workflowID}"></td>
				</tr>
			</tbody>
		</table>

		<div th:if="${totalPages > 1}">
			<div class="row col-sm-10">
				<div class="col-sm-2">Total Rows: [[${totalItems}]]</div>
				<div class="col-sm-1">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}"> <a
						th:if="${currentPage != i}"
						th:href="@{'/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp;
						&nbsp;
					</span>
				</div>
				<div class="col-sm-1">
					<a th:if="${currentPage < totalPages}"
						th:href="@{'/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
					<span th:unless="${currentPage < totalPages}">Next</span>
				</div>

				<div class="col-sm-1">
					<a th:if="${currentPage < totalPages}"
						th:href="@{'/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
					<span th:unless="${currentPage < totalPages}">Last</span>
				</div>
			</div>
		</div>
	</div>


</body>
</html>