<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Orchestrator Workflow Management</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/fedex.css" th:href="@{/css/fedex.css}" />
<script type="text/javascript" src="../../js/fedex.js" media="all"
	th:src="@{/js/fedex.js}"></script>

</head>
<body>
	<div th:insert="index :: index"></div>




	<div class="main">
		<table border="1" class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<th class="table-info">Workflow ID</th>
					
					<th >Workflow Name</th>
					<th class="table-info">Workflow Created By</th>
					<th >Workflow Status
					<th class="table-info">Actions</th>

				</tr>
			</thead>
			<tbody>

				<div class="col-lg-3" th:object="${listWorkflows}">
					<select class="form-control" id="workflow" name="workflow">
						<option value="">Select Test Order</option>
						<option th:each="workflow : ${listWorkflows}"
							th:value="workflow.id"
							th:text="${workflow.id}+' : '+${workflow.name}"></option>
					</select>
				</div>
				<tr th:each="workflow : ${listWorkflows}">


					<td th:text="${workflow.id}"></td>
					<!-- <td> <a th:href="@{/getTaskForm}/1" th:text="${workflow.id}"></a></td> -->
					<td th:text="${workflow.name}"></td>
					<td th:text="${workflow.user}"></td>
					<td th:text="${workflow.status}"></td>
					<td><a th:href="@{/showFormForUpdate/{id}(id=${workflow.id})}"
						class="btn btn-info">Update</a></td>




				</tr>
			</tbody>
		</table>

	</div>


</body>
</html>